[submodule "glfw"]
	path = 3rdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "stb"]
	path = 3rdParty/stb
	url = https://github.com/nothings/stb
[submodule "3rdParty/tinyobjloader-c"]
	path = 3rdParty/tinyobjloader-c
	url = https://github.com/syoyo/tinyobjloader-c.git
